[Unit]
Description=Apache Kafka broker
After=network.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_user }}
ExecStart={{ install_dir }}/kafka/bin/kafka-server-start.sh {{ install_dir }}/kafka/config/server.properties
Restart=on-failure
LimitNOFILE=65536
Environment=KAFKA_HEAP_OPTS=-Xmx2G -Xms1G

[Install]
WantedBy=multi-user.target
