[Unit]
Description=Apache ZooKeeper
After=network.target

[Service]
Type=simple
User={{ zookeeper_user }}
Group={{ zookeeper_user }}
ExecStart={{ install_dir }}/zookeeper/bin/zkServer.sh start-foreground
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
