port {{ sentinel_port }}
{% set master_host = groups['masters'][0] %}
{% set master_ip = hostvars[master_host].ansible_host %}

sentinel monitor mymaster {{ master_ip }} {{ redis_port }} {{ redis_quorum }}
sentinel auth-pass mymaster {{ sentinel_auth_pass }}
sentinel down-after-milliseconds mymaster 5000
sentinel failover-timeout mymaster {{ failover_timeout_ms }}
sentinel parallel-syncs mymaster 1
