---
- name: Create /etc/rabbitmq
  file:
    path: /etc/rabbitmq
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Install Erlang cookie (shared across nodes)
  copy:
    dest: /var/lib/rabbitmq/.erlang.cookie
    content: "{{ rabbitmq_erlang_cookie }}\n"
    owner: rabbitmq
    group: rabbitmq
    mode: "0400"
  notify: restart rabbitmq
- name: Ensure Systemd drop-in dir exists for rabbitmq override
  ansible.builtin.file:
    path: /etc/systemd/system/rabbitmq-server.service.d 
    state: directory
    owner: root
    group: root
    mode: '0775'
- name: Set systemd override with nodename and FD limit
  copy:
    dest:  /etc/systemd/system/rabbitmq-server.service.d/override.conf
    content: |
      [Service]
      Environment=RABBITMQ_USE_LONGNAME={{ 'false' if rabbitmq_use_shortnames else 'true' }}
      Environment=RABBITMQ_NODENAME=rabbit@{{ (ansible_hostname if rabbitmq_use_shortnames else ansible_fqdn).split('.')[0] }}
      LimitNOFILE={{ rabbitmq_file_descriptors }}
  notify: restart rabbitmq

- name: Create limits file
  copy:
    dest: /etc/security/limits.d/40-rabbitmq.conf
    content: |
      rabbitmq soft nofile {{ rabbitmq_file_descriptors }}
      rabbitmq hard nofile {{ rabbitmq_file_descriptors }}

- name: "Set RabbitMQ TLS paths"
  vars:
    rabbitmq_ssl_dir: /etc/rabbitmq/ssl
    rabbitmq_cert_src_dir: "tls"  # relative to role's files/
  block:

    - name: "Ensure RabbitMQ SSL directory exists"
      ansible.builtin.file:
        path: "{{ rabbitmq_ssl_dir }}"
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: "Copy CA certificate to server"
      ansible.builtin.copy:
        src: "{{ rabbitmq_cert_src_dir }}/ca-abk.crt"
        dest: "{{ rabbitmq_ssl_dir }}/ca-abk.crt"
        owner: root
        group: root
        mode: "0644"

    - name: "Copy wildcard certificate to server"
      ansible.builtin.copy:
        src: "{{ rabbitmq_cert_src_dir }}/abk-wildcard.crt"
        dest: "{{ rabbitmq_ssl_dir }}/abk-wildcard.crt"
        owner: root
        group: root
        mode: "0644"

    - name: "Copy wildcard private key to server"
      ansible.builtin.copy:
        src: "{{ rabbitmq_cert_src_dir }}/abk-wildcard.key"
        dest: "{{ rabbitmq_ssl_dir }}/abk-wildcard.key"
        owner: root
        group: root
        mode: "0644"
- name: Deploy rabbitmq.conf
  template:
    src: rabbitmq.conf.j2
    dest: /etc/rabbitmq/rabbitmq.conf
    owner: root
    group: root
    mode: "0644"
  notify: restart rabbitmq

- name: Enable management plugin
  copy:
    dest: /etc/rabbitmq/enabled_plugins
    content: |
      [rabbitmq_management].
    owner: root
    group: root
    mode: "0644"
  notify: restart rabbitmq

- name: Reload systemd and start service
  systemd:
    daemon_reload: true
    name: "{{ rabbitmq_service_name }}"
    state: started
